<%- include('../templates/sidebar')%>
    <a href="/trav/<%= token%>">Kembali</a>
    <form action="/trav/post/<%= token%>" enctype="multipart/form-data" method="POST">
        <label for="">Nama Travel</label>&nbsp;&nbsp;
        <input required type="text" name="nama"><br><br>
        <label for="">Gambar Travel</label>&nbsp;&nbsp;
        <input required type="file" name="img_paket"><br><br>
        <label for="">Keterangan</label>&nbsp;&nbsp;
        <input required type="textarea" name="ket"><br><br>
        <label for="">Jenis Paket</label>&nbsp;&nbsp;
        <input required type="text" name="jenis"><br><br>
        <label for="">Gambar Paket</label>&nbsp;&nbsp;
        <input required type="file" name="img_type"><br><br>
        <label for="">Fasilitas</label>&nbsp;&nbsp;
        <input required type="textarea" name="fasilitas"><br><br>
        <label for="">Penerbangan</label>&nbsp;&nbsp;
        <input required type="text" name="penerbangan"><br><br>
        <label for="">Harga</label>&nbsp;&nbsp;
        <input required type="number" name="harga"><br><br>
        <div id="input">
        </div>
        <p id="reset">Reset</p>
        <p id="add">Tambah Jenis Paket</p><br><br>
        <button type="submit">Simpan</button>
    </form>
<%- include('../templates/footer')%>
<script>
    document.getElementById('reset').onclick = () => {
        window.location.reload()
    }
    document.getElementById('add').onclick = () => {
        document.getElementById('input').innerHTML += '<label for="">Jenis Paket</label>&nbsp;&nbsp;<input required type="text" name="jenis"><br><br><label for="">Gambar Paket</label>&nbsp;&nbsp;<input required type="file" name="img_type"><br><br><label for="">Fasilitas</label>&nbsp;&nbsp;<input required type="textarea" name="fasilitas"><br><br><label for="">Penerbangan</label>&nbsp;&nbsp;<input required type="text" name="penerbangan"><br><br><label for="">Harga</label>&nbsp;&nbsp;<input required type="number" name="harga"><br><br>'
    }
</script>